:root{
    --border-color:#c4c8cb;
    --theme-color:#18d26e;
    --text-dark:#333333;
    --text-gray:#666666;
    --secondary-color:#A3A3A3;
    --white-color:#fff;
    --hover-color:#20c997;
    --mix-color:#919191;
    --bg-color:#f7f7f7;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto Condensed';
}
h1 , h2 , h3 , h4 , h5 , h6{
    font-family: 'Raleway';
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
hr{
    border-color: white !important;
}
/* header */
.logo a{
    font-family: 'Raleway';
    font-size: 30px;
}
header nav ul li a{
    font-family: 'Poppins';
    letter-spacing: 1px;
    font-size: 13px;
}
header nav ul li a:hover , header nav ul li:nth-child(1) a{
    color: var(--theme-color) !important;
    transition: all 0.3s ease;
}
.navbar-toggler-icon{
    background-color: rgba(255, 255, 255, 0.205) !important;
    color: var(--white-color) !important;
    border-color: #18d26e;
}
.logo a::before{
    content: '';
    width: 5px;
    height: 34px;
    background-color: var(--theme-color);
    position: absolute;
    top: 23px;
    left: -15px;
}
/* banner  */
.slide-1, .slide-2 , .slide-3 , .slide-4 , .slide-5{
    background-image: url(../images/hero-carousel-1.jpg);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 9;
    position: relative;
}
.slide-2{
    background-image: url(../images/hero-carousel-2.jpg);
}
.slide-3{
    background-image: url(../images/hero-carousel-3.jpg);
}
.slide-4{
    background-image: url(../images/hero-carousel-4.jpg);
}
.slide-5{
    background-image: url(../images/hero-carousel-5.jpg);
}
.slide-1::after , .slide-2::after , .slide-3::after , .slide-4::after , .slide-5::after{
    content: '';
    background-color: rgba(0, 0, 0, 0.692);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index:-1;
}
.banner a , .contact form a{
    padding: 8px 32px;
    font-size: 15px;
    background-color: var(--theme-color);
    border-radius: 30px;
    font-family: 'Raleway';
}
.banner a:hover , .contact form a:hover{
    background-color: var(--hover-color);
    transition-duration: 0.2s;
}
/* services */
.services{
    background-color: black;
}
.services .services-icon span i{
    color: var(--theme-color);
}
.services-content p{
    color: rgb(173, 173, 173) !important;
    font-size: 15px;
}
.services-content a{
    font-size: 15px; 
    color: rgb(173, 173, 173) !important;
}
.services-content:hover h4 , .services-content:hover a{
    color: var(--theme-color) !important;
    transition-duration: 0.2s;
}
/* about us */
.about-us-title h2 , .facility-title h2 , .action-title h2 , .portfolio-title h2 , .testimonial-title h2 , .team-title h2 , .pricing-title h2 , .faq-title h2 , .contact-title h2{
    color: var(--text-dark);
}
.about-us-title h2::before , .facility-title h2::before , .action-title h2::before , .portfolio-title h2::before , .testimonial-title h2::before , .team-title h2::before , .pricing-title h2::before , .faq-title h2::before , .contact-title h2::before{
    width: 150px;
    height: 1px;
    background-color: var(--text-gray);
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    content: '';
}
.about-us-title h2::after , .facility-title h2::after , .action-title h2::after , .portfolio-title h2::after , .testimonial-title h2::after , .team-title h2::after , .pricing-title h2::after , .faq-title h2::after , .contact-title h2::after{
    width: 75px;
    height: 3px;
    background-color: var(--theme-color);
    position: absolute;
    top: 59px;
    left: 50%;
    transform: translateX(-50%);
    content: '';
}
.about-us-title p , .facility-title-title p , .action-title p , .portfolio-title p , .testimonial-title p , .team-title p , .pricing-title p , .faq-title p , .contact-title p{
    color: var(--text-gray);
}
.about-us-content h6{
    color: var(--secondary-color);
}
.about-us-content h2{
    font-weight: 600 !important;
    font-size: 32px !important;
}
.about-us-content p{
    font-size: 16px;
    color: var(--text-gray) !important;
    font-weight: 400 !important;
}
.about-us-content ul li {
    font-size: 16px;
    color: var(--text-gray);
    padding-bottom: 5px;
}
.about-us-content ul li i{
    color: var(--theme-color);
    font-size: 23px;
}
.about-us-content a{
    font-family: 'Raleway';
    font-size: 16px;
    padding: 12px 24px;
    background-color: var(--theme-color);
    border-radius: 5px;
}
.about-us-content a:hover{
    background-color: rgb(26, 230, 121);
    transition-duration: 0.2S;
}
.about-us img{
    padding:12px;
    border-radius: 30px;
    display: block;
}
/* counter */
.counter{
    padding: 100px 0;
}
.counter h2{
    font-family: 'Roboto Condensed';
    font-size: 48px;
    color: var(--theme-color);
}
.counter h5{
    font-family: 'Roboto Condensed';
    font-size: 18px;
    color: rgb(173, 173, 173);
}
/* facility */
.facility-content h4{
    color: var(--text-dark);
}
.facility-content p{
    color: var(--text-gray);
    font-size: 15px;
}
.facility-item{
    border: 1px solid rgb(221, 220, 220) !important;
    padding: 30px;
    margin: 24px 0;
}
.facility-item:hover{
    border: 1px solid var(--theme-color) !important;
    transition-duration: 0.2s;
}
.facility-item:hover h4{
    color: var(--theme-color) !important;
    transition-duration: 0.2s;
}
.facility-item i{
    color: var(--theme-color);
}
/* action */
.action{
    background-image: url(../images/cta-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    padding: 80px 0;
}
.action a{
    font-family: 'Raleway';
    padding: 12px 40px;
    border: 2px solid var(--white-color);
    border-radius: 5px;
}
.action a:hover{
    background-color: var(--theme-color) !important;
    border-color: var(--theme-color);
    transition-duration: 0.5s;
}
/* portfolio */
.portfolio nav ul li a{
    color: var(--text-gray);
    font-weight: 600;
}
.portfolio nav ul li a:hover{
    color: var(--theme-color) !important;
    transition-duration: 0.5s;
}
.portfolio-overlay{ 
    bottom: 20px;
    left: 20px;
    right: 0px;
    background-color: rgba(255, 255, 255, 0.887);
    transform: translateY(165px);
    transition: all 0.5s ease-in-out;
    padding: 15px;
    margin:0 20px;
}
.portfolio-img:hover .portfolio-overlay{
    transform: translateY(-20px);
}
.portfolio .nav .active{
    color: var(--theme-color) !important;
}
.portfolio-content h3{
    font-size: 18px;
}
.portfolio-content p{
    font-size: 15px !important;
}
/* testimonial */
.testimonial img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.testimonial h6{
    color: var(--secondary-color);
}
.testimonial .testimonial-content p{
    font-size: 18px;
    color: var(--text-gray);
    font-style: italic;
}
.testimonial .testimonial-content p i{
    color: var(--theme-color);
}
.testimonial .carousel-indicators button{
    background-color: lightgrey;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-top: 100px;
}
.testimonial .carousel-indicators{
    bottom: -52px;
}
.testimonial .carousel-indicators .active{
    background-color: var(--theme-color);
}
/* team */
.team .team-overlay h6{
    font-style: italic;
    font-size: 13px;
}
.team .team-overlay{
    bottom: 20px;
    left: 20px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.692);
    transform: translateY(-350px);
    transition: all 0.2s ease-in;
    padding: 15px;
}
.team .team-item:hover .team-overlay{
    transform: translateY(0);
    opacity: 1;
}
.team .team-overlay i:hover{
    color: var(--theme-color) !important;
    transition-duration: 0.2s;
}
/* pricing */
.pricing-item{
    border-radius: 25px;
}
.pricing-item span i{
    padding: 15px;
    background-color: var(--theme-color);
    border-radius: 50%;
    box-shadow: #18d26f7a 0px 0px 0px 7px, #18d26f41 0px 0px 0px 14px;
    display: inline;
}
.pricing-item h3{
    color: var(--theme-color);
}
.pricing-item h3 sub{
    color: var(--secondary-color);
}
.pricing-item ul li{
    color: var(--mix-color);
    font-weight: 400;
    font-size: 16px;
}
.pricing-item ul li del{
    color: var(--secondary-color) !important;
}
.pricing-item ul li i{
    color: var(--theme-color);
    font-size: 18px;
    font-weight: 600;
    margin-right: 8px;
}
.pricing-item a{
    padding: 10px 40px;
    color: var(--mix-color);
    border: 1px solid var(--mix-color);
    border-radius: 30px;
}
.pricing-item a:hover{
    background-color: var(--theme-color);
    border-color: var(--theme-color);
    color: var(--white-color);
    transition-duration: 0.5s;
}
.pricing .col-lg-4:nth-child(2) .pricing-item{
    transform: scale(1.2); 
    box-shadow: none;
    border: 3px solid var(--theme-color);
    background-color: var(--white-color);
}
/* faq */
.faq{
    background-color: var(--bg-color);
}
.faq .accordion-button:not(.collapsed){
    background-color: var(--white-color) !important;
}
.faq .accordion-button:focus{
    box-shadow: none !important;
}
/* contact */
.contact .contact-item i{
    color: var(--theme-color);
}
.contact input::placeholder , .contact textarea::placeholder{
    color: var(--border-color);
    font-size: 15px;
}
/* footer */
footer .footer-icon a{
    padding: 5px 7px;
}
footer .footer-icon a:hover{
    color: var(--theme-color) !important;
    border-color: var(--theme-color) !important;
    transition-duration: 0.5s;
}
footer .footer-item a:hover{
    color: var(--theme-color) !important;
    transition-duration: 0.5s;
}
footer .input-group span a{
    padding: 10px 20px;
    background-color: var(--theme-color);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
footer .input-group span a:hover{
    background-color: var(--hover-color);
}
footer .input-group input{
    background-color: transparent;
    border: 1px solid var(--text-gray) !important;
    padding: 6px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
footer .input-group input:focus{
    border-color: var(--theme-color) !important;
}
footer .copiright p span a{
    color: var(--theme-color);
}

footer .bottom-to-top a{
    background-color: var(--theme-color);
    border-color: var(--theme-color) !important;
}